<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc>
                    <includeMdcKeyName>traceId</includeMdcKeyName>
                </mdc>
                <pattern>
                    <pattern>
                        {
                        "thread":"%thread",
                        "timestamp":"%date{ISO8601}",
                        "level":"%level",
                        "logger":"%logger",
                        "msg":"%msg"
                        }
                    </pattern>
                </pattern>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>

    <logger name="com.cc" level="DEBUG" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>